body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  
  .controls-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  select, label {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  #strings-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  #strings-select label {
    margin-bottom: 5px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  #fretboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
    max-width: 2000px;
    padding: 0 20px;
  }
  
  
  .fretboard-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  #fretboard {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
  }
  
  .fret-row {
    display: flex;
    gap: 2px;
  }
  
  .fret, .header {
    width: 50px;
    height: 40px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
    position: relative;
    flex-direction: column;
  }
  
  .header {
    background-color: #222;
    font-weight: bold;
  }
  
  .fret:hover {
    background-color: #777;
    transform: scale(1.05);
    transition: 0.2s;
  }
  
  .fret.highlight {
    font-weight: bold;
  }
  
  .note-main {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .note-octave {
    font-size: 0.6rem;
    opacity: 0.7;
    position: absolute;
    bottom: 2px;
    right: 4px;
  }
  
  .fret.open-string {
    /* border: 2px solid #ffffff66;
    font-weight: bold; */
    box-shadow: inset 0 0 5px #cccccc88;
  }
  
  .clear-button,
  #clear-button {
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #clear-button:hover {
    background-color: #45a049;
  }
  
/* .fret.tonic {
   box-shadow: 0 0 0 3px white inset;
  border: 4px solid #fff; 
} */

.fret.tonic {
  box-shadow: inset 0 0 0 3px white, inset 0 0 2px rgba(0,0,0,0.2);
}

/* .fret.tonic {
  outline: 4px solid white;
  outline-offset: -4px;
} */